
body{

text-align: center;

}

#hero{
margin: auto;
width: 592px;

}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
}

h1 span{
    font-weight: bold;
}

p, a, body{
    font-family: 'Open Sans', sans-serif;
    
}

span, a {
    color: #FF9900 ;
}

p{
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#line{
    width: 568.001px;
    height: 1px;
    margin: 0 auto 8px;
   border: 1px solid #ECEFF2;
   background-color: #ECEFF2;
}

#footer {

    margin-left: 28px;
    

}

#balls{
position: fixed;
bottom: 0px;
right: 0px;


}